@font-face {
    font-family: Futura;
    src: url("fonts/Futura PT/FuturaPTLight.otf");

}


body {
    text-align: center;
    font-family: Futura,Helvetica,Arial,sans-serif;
    margin:auto;
}

.navbar{
  position:fixed;
  top:0;
  background:transparent;
  width:100%;
  height:100px;
  z-index:100;
  
}



#logo_img{
    margin-top: 20px;
    margin-left: -100px;
    position: absolute;
}

#three_pyramids{
    width: 100%;
     
}

.text-container{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.first-headline{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 0;
}

.second-headline{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
}

.container-text{
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 20px;
}
#selection_choice{
    margin-top: 0;
    width:100%;
    background-color: #E7E7E7;
    
}
.color_selection_img{
    margin-top: 50px;
    padding: 15px;
    width: 400px;
    border: 3px solid transparent;
}

.color_selection_img{
  padding-right: 0;
  margin-right: 0;
  display: inline;
}

  .button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1B1B1B;
    border: none;
    color: white;
    padding: 12px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .button:hover:not(#nachObenLink) {
    background-color: #1b1b1bd8;
    cursor: pointer;
  }

  .aufklapp_boxen{
    margin:0;
    width: 100%;
  }

  .aufklapp_titel{
    width: 95%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom:-14px;
  }

  .plus{
    cursor: pointer;
    font-size: x-large;
    transition: transform .5s ease-in-out;
  }

  .plus:hover{
    transform: rotate(180deg);
  }

  .scrollup{
    top:0;
    text-decoration: none;
    color: #E7E7E7;
    font-size: 13px;
    margin-bottom: 0;
  }

  .scrollup:active{
    color: #E7E7E7;
  }

  .scrollup:hover{
    text-decoration: underline;
  }

  #footer_logo_div{
    margin-top: 0px;
    padding-top: 50px;
  }
  #footer_logo_div img{
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

  .Gucci_App{
    border-style: solid;
    border-color: black;
    border-width: 5px;

  }
  #nachObenLink{
    margin-bottom: 0;
    margin-top: 0;
  }
 
  #produkt_info_div img{
    width: 300px;
  }

  
  @media screen and (max-width: 1000px){


    #logo_img{
      width:150px;
      margin-left: -75px;
    }

    .navbar{
      height: 80px;
    }
    .text-container {
      width: 95%;
    }

    .container-text p {
      width: 100%;
    }

    .aufklapp_boxen{
      width:90%;
    }
    
    .aufklapp_boxen{
      margin-right: 100px;
    }

    #versand_div img{
      margin-top: 10px;
      margin-left: 50px;
      text-align: left;
      width: 500px
    }


  }

  @media screen and (max-width:600px){
    #logo_img{
      width:110px;
      margin-left: -55px;
    }  

    .navbar{
      height: 62px;
    }

    .aufklapp_boxen{
      margin-right: 30px;
    }

    
    #versand_div img{
      margin-top: 10px;
      margin-left: 50px;
      text-align: left;
      width: 400px;
    }
  }

  @media screen and (max-width: 500px){
    .middle_image img{
      width: 350px;
    }

    .color_selection_img{
      width: 270px;
    }

    .selection_choice img {
      width: 250px;
    }
  }



