@font-face {
    font-family: Futura;
    src: url("fonts/Futura PT/FuturaPTLight.otf");

}

body {
    text-align: center;
    margin: auto;
    font-family: Futura,Helvetica,Arial,sans-serif;
    
}

header{
    height: 100%;
    width: 100%;
}

#logo_img{
    margin-top: 20px;
    margin-left: -100px;
    position: absolute;
    z-index: 1;
    
}

#logo_div{
    position: relative;
}

#three_pyramids{
    position: relative;
    z-index: 0;
    display: flex;
    max-width: 100%;
    height: 100%;
    width: 100%;
     
}

#arabic_name_pyramid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Futura,Helvetica,Arial,sans-serif;
    font-size: 40px;   
}
#german_name_pyramid{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Futura,Helvetica,Arial,sans-serif;
    font-size: 70px;
}
.line_header{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.first-headline{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 0;
}

.second-headline{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
}

.container-text{
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
}
#selection_choice{
    margin-top: 0;
    background-color: #E7E7E7;
    
}
.color_selection_img{
    margin-top: 50px;
    padding: 15px;
    width: 400px;
    border: 3px solid transparent;
}

/* .color_selection_img:hover:not(#active_pyramide){
    opacity: 0.8;
    cursor: pointer;
} */
/* The container must be positioned relative: */
.custom-select {
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto;
    position: relative;
    font-family: Futura,Helvetica,Arial,sans-serif;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #E7E7E7;
    border: 1px solid black;
    border-color: black;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }

  .select-selected:hover {
      opacity: 0.8;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: black;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #E7E7E7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.404);
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1B1B1B;
    border: none;
    color: white;
    padding: 12px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  button:hover {
    background-color: #1b1b1bd8;
    cursor: pointer;
  }

  .aufklapp_boxen{
    margin:0;
  }

  .aufklapp_titel{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 150px;
    margin-bottom:-14px;
  }

  

  /* .active_pyramide {
      border: 3px solid black;
      pointer-events: none;
  } */



